In [56]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark data cleaning and engineering") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [57]:
file_location = "datasets/LoanStats_2018Q4.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "True"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

display(df)

DataFrame[id: string, member_id: string, loan_amnt: string, funded_amnt: string, funded_amnt_inv: string, term: string, int_rate: string, installment: string, grade: string, sub_grade: string, emp_title: string, emp_length: string, home_ownership: string, annual_inc: string, verification_status: string, issue_d: string, loan_status: string, pymnt_plan: string, url: string, desc: string, purpose: string, title: string, zip_code: string, addr_state: string, dti: string, delinq_2yrs: string, earliest_cr_line: string, inq_last_6mths: string, mths_since_last_delinq: string, mths_since_last_record: string, open_acc: string, pub_rec: string, revol_bal: string, revol_util: string, total_acc: string, initial_list_status: string, out_prncp: string, out_prncp_inv: string, total_pymnt: string, total_pymnt_inv: string, total_rec_prncp: string, total_rec_int: string, total_rec_late_fee: string, recoveries: string, collection_recovery_fee: string, last_pymnt_d: string, last_pymnt_amnt: string, next_pymnt_d: string, last_credit_pull_d: string, collections_12_mths_ex_med: string, mths_since_last_major_derog: string, policy_code: string, application_type: string, annual_inc_joint: string, dti_joint: string, verification_status_joint: string, acc_now_delinq: string, tot_coll_amt: string, tot_cur_bal: string, open_acc_6m: string, open_act_il: string, open_il_12m: string, open_il_24m: string, mths_since_rcnt_il: string, total_bal_il: string, il_util: string, open_rv_12m: string, open_rv_24m: string, max_bal_bc: string, all_util: string, total_rev_hi_lim: string, inq_fi: string, total_cu_tl: string, inq_last_12m: string, acc_open_past_24mths: string, avg_cur_bal: string, bc_open_to_buy: string, bc_util: string, chargeoff_within_12_mths: string, delinq_amnt: string, mo_sin_old_il_acct: string, mo_sin_old_rev_tl_op: string, mo_sin_rcnt_rev_tl_op: string, mo_sin_rcnt_tl: string, mort_acc: string, mths_since_recent_bc: string, mths_since_recent_bc_dlq: string, mths_since_recent_inq: string, mths_since_recent_revol_delinq: string, num_accts_ever_120_pd: string, num_actv_bc_tl: string, num_actv_rev_tl: string, num_bc_sats: string, num_bc_tl: string, num_il_tl: string, num_op_rev_tl: string, num_rev_accts: string, num_rev_tl_bal_gt_0: string, num_sats: string, num_tl_120dpd_2m: string, num_tl_30dpd: string, num_tl_90g_dpd_24m: string, num_tl_op_past_12m: string, pct_tl_nvr_dlq: string, percent_bc_gt_75: string, pub_rec_bankruptcies: string, tax_liens: string, tot_hi_cred_lim: string, total_bal_ex_mort: string, total_bc_limit: string, total_il_high_credit_limit: string, revol_bal_joint: string, sec_app_earliest_cr_line: string, sec_app_inq_last_6mths: string, sec_app_mort_acc: string, sec_app_open_acc: string, sec_app_revol_util: string, sec_app_open_act_il: string, sec_app_num_rev_accts: string, sec_app_chargeoff_within_12_mths: string, sec_app_collections_12_mths_ex_med: string, sec_app_mths_since_last_major_derog: string, hardship_flag: string, hardship_type: string, hardship_reason: string, hardship_status: string, deferral_term: string, hardship_amount: string, hardship_start_date: string, hardship_end_date: string, payment_plan_start_date: string, hardship_length: string, hardship_dpd: string, hardship_loan_status: string, orig_projected_additional_accrued_interest: string, hardship_payoff_balance_amount: string, hardship_last_payment_amount: string, disbursement_method: string, debt_settlement_flag: string, debt_settlement_flag_date: string, settlement_status: string, settlement_date: string, settlement_amount: string, settlement_percentage: string, settlement_term: string]

In [58]:
df.head()

Row(id=None, member_id=None, loan_amnt='10000', funded_amnt='10000', funded_amnt_inv='10000', term=' 36 months', int_rate='10.33%', installment='324.23', grade='B', sub_grade='B1', emp_title=None, emp_length='< 1 year', home_ownership='MORTGAGE', annual_inc='280000', verification_status='Not Verified', issue_d='Dec-18', loan_status='Current', pymnt_plan='n', url=None, desc=None, purpose='debt_consolidation', title='Debt consolidation', zip_code='974xx', addr_state='OR', dti='6.15', delinq_2yrs='2', earliest_cr_line='Jan-96', inq_last_6mths='0', mths_since_last_delinq='18', mths_since_last_record=None, open_acc='14', pub_rec='0', revol_bal='9082', revol_util='38%', total_acc='23', initial_list_status='w', out_prncp='9521.66', out_prncp_inv='9521.66', total_pymnt='639.85', total_pymnt_inv='639.85', total_rec_prncp='478.34', total_rec_int='161.51', total_rec_late_fee='0', recoveries='0', collection_recovery_fee='0', last_pymnt_d='Feb-19', last_pymnt_amnt='324.23', next_pymnt_d='Apr-19', last_credit_pull_d='Mar-19', collections_12_mths_ex_med='0', mths_since_last_major_derog=None, policy_code='1', application_type='Individual', annual_inc_joint=None, dti_joint=None, verification_status_joint=None, acc_now_delinq='0', tot_coll_amt='671', tot_cur_bal='246828', open_acc_6m='1', open_act_il='3', open_il_12m='2', open_il_24m='3', mths_since_rcnt_il='1', total_bal_il='48552', il_util='62', open_rv_12m='1', open_rv_24m='3', max_bal_bc='4923', all_util='46', total_rev_hi_lim='23900', inq_fi='2', total_cu_tl='7', inq_last_12m='1', acc_open_past_24mths='7', avg_cur_bal='17631', bc_open_to_buy='11897', bc_util='43.1', chargeoff_within_12_mths='0', delinq_amnt='0', mo_sin_old_il_acct='158', mo_sin_old_rev_tl_op='275', mo_sin_rcnt_rev_tl_op='11', mo_sin_rcnt_tl='1', mort_acc='1', mths_since_recent_bc='11', mths_since_recent_bc_dlq=None, mths_since_recent_inq='11', mths_since_recent_revol_delinq=None, num_accts_ever_120_pd='0', num_actv_bc_tl='3', num_actv_rev_tl='4', num_bc_sats='7', num_bc_tl='7', num_il_tl='10', num_op_rev_tl='9', num_rev_accts='11', num_rev_tl_bal_gt_0='4', num_sats='14', num_tl_120dpd_2m='0', num_tl_30dpd='0', num_tl_90g_dpd_24m='0', num_tl_op_past_12m='4', pct_tl_nvr_dlq='91.3', percent_bc_gt_75='28.6', pub_rec_bankruptcies='0', tax_liens='0', tot_hi_cred_lim='367828', total_bal_ex_mort='61364', total_bc_limit='20900', total_il_high_credit_limit='54912', revol_bal_joint=None, sec_app_earliest_cr_line=None, sec_app_inq_last_6mths=None, sec_app_mort_acc=None, sec_app_open_acc=None, sec_app_revol_util=None, sec_app_open_act_il=None, sec_app_num_rev_accts=None, sec_app_chargeoff_within_12_mths=None, sec_app_collections_12_mths_ex_med=None, sec_app_mths_since_last_major_derog=None, hardship_flag='N', hardship_type=None, hardship_reason=None, hardship_status=None, deferral_term=None, hardship_amount=None, hardship_start_date=None, hardship_end_date=None, payment_plan_start_date=None, hardship_length=None, hardship_dpd=None, hardship_loan_status=None, orig_projected_additional_accrued_interest=None, hardship_payoff_balance_amount=None, hardship_last_payment_amount=None, disbursement_method='DirectPay', debt_settlement_flag='N', debt_settlement_flag_date=None, settlement_status=None, settlement_date=None, settlement_amount=None, settlement_percentage=None, settlement_term=None)

In [59]:
df.count()

128416

In [60]:
df_sel = df.select("loan_amnt", "emp_length", "dti", "delinq_2yrs", "revol_util", "total_acc", "term",
                  "home_ownership", "grade", "purpose", "int_rate", "addr_state", "loan_status",
                  "application_type", "annual_inc", "num_tl_90g_dpd_24m", "dti_joint")

In [61]:
df_sel.describe().show()

+-------+------------------+----------+------------------+-------------------+----------+------------------+----------+--------------+------+--------+--------+----------+------------------+----------------+------------------+--------------------+-----------------+
|summary|         loan_amnt|emp_length|               dti|        delinq_2yrs|revol_util|         total_acc|      term|home_ownership| grade| purpose|int_rate|addr_state|       loan_status|application_type|        annual_inc|  num_tl_90g_dpd_24m|        dti_joint|
+-------+------------------+----------+------------------+-------------------+----------+------------------+----------+--------------+------+--------+--------+----------+------------------+----------------+------------------+--------------------+-----------------+
|  count|            128412|    128412|            128175|             128412|    128256|            128412|    128412|        128412|128412|  128412|  128412|    128412|            128412|          128412|            128412|              128412|            16782|
|   mean| 15971.32102139987|      null|19.933177530719732|0.22783696227766875|      null|22.677413325857398|      null|          null|  null|    null|    null|      null|              null|            null| 82797.32786094757|0.059488209824626985|19.22660231200096|
| stddev|10150.384232741897|      null|20.143542243475498| 0.7337929617806052|      null|12.129215673024763|      null|          null|  null|    null|    null|      null|              null|            null|108298.46579150068| 0.41065173659442367|8.141631264595576|
|    min|              1000|    1 year|                 0|                  0|        0%|                10| 36 months|           ANY|     A|     car|  10.08%|        AK|       Charged Off|      Individual|                 0|                   0|                0|
|    max|              9975|       n/a|               999|                  9|    99.90%|                98| 60 months|          RENT|     G|vacation|   8.81%|        WY|Late (31-120 days)|       Joint App|             99999|                   9|             9.99|
+-------+------------------+----------+------------------+-------------------+----------+------------------+----------+--------------+------+--------+--------+----------+------------------+----------------+------------------+--------------------+-----------------+

In [62]:
df_pandas = df.toPandas()

In [63]:
df_pandas.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,None,None,10000,10000,10000,36 months,10.33%,324.23,B,B1,...,None,None,DirectPay,N,None,None,None,None,None,None
1,None,None,2500,2500,2500,36 months,13.56%,84.92,C,C1,...,None,None,Cash,N,None,None,None,None,None,None
2,None,None,12000,12000,12000,60 months,13.56%,276.49,C,C1,...,None,None,Cash,N,None,None,None,None,None,None
3,None,None,15000,15000,14975,60 months,14.47%,352.69,C,C2,...,None,None,Cash,N,None,None,None,None,None,None
4,None,None,16000,16000,16000,60 months,17.97%,406.04,D,D1,...,None,None,Cash,N,None,None,None,None,None,None

In [64]:
# list(df_pandas.annual_inc.unique())

## Replacing garbage with empty value

In [65]:
from pyspark.sql.functions import regexp_extract, regexp_replace
from pyspark.sql.functions import col

regex_string = "years|year|\\+|\\<"
df_sel.select(regexp_replace(col("emp_length"), regex_string, "").alias("emplength_cleaned"), col("emp_length")).show()

+-----------------+----------+
|emplength_cleaned|emp_length|
+-----------------+----------+
|               1 |  < 1 year|
|              10 | 10+ years|
|               1 |  < 1 year|
|              n/a|       n/a|
|               5 |   5 years|
|               9 |   9 years|
|               3 |   3 years|
|              10 | 10+ years|
|              n/a|       n/a|
|              10 | 10+ years|
|               1 |  < 1 year|
|              10 | 10+ years|
|              10 | 10+ years|
|               6 |   6 years|
|               5 |   5 years|
|              10 | 10+ years|
|               2 |   2 years|
|              10 | 10+ years|
|               1 |  < 1 year|
|               6 |   6 years|
+-----------------+----------+
only showing top 20 rows

## Only taking digits for clean up

In [66]:
# regex_string = "\\d+"
# df_sel.select(regexp_extract(col("emp_length"), regex_string, "").alias("emplength_cleaned"), col("emp_length")).show(10)

In [67]:
df_sel.show(2)

+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+-----------+----------------+----------+------------------+---------+
|loan_amnt|emp_length|  dti|delinq_2yrs|revol_util|total_acc|      term|home_ownership|grade|           purpose|int_rate|addr_state|loan_status|application_type|annual_inc|num_tl_90g_dpd_24m|dti_joint|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+-----------+----------------+----------+------------------+---------+
|    10000|  < 1 year| 6.15|          2|       38%|       23| 36 months|      MORTGAGE|    B|debt_consolidation|  10.33%|        OR|    Current|      Individual|    280000|                 0|     null|
|     2500| 10+ years|18.24|          0|    10.30%|       34| 36 months|          RENT|    C|debt_consolidation|  13.56%|        NY|    Current|      Individual|     55000|                 0|     null|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+-----------+----------------+----------+------------------+---------+
only showing top 2 rows

In [68]:
df_sel = df_sel.withColumn("term_cleaned", regexp_replace(col("term"), "months", "")).withColumn("emplen_cleaned",
                    regexp_extract(col("emp_length"), "\\d+", 0))

In [69]:
df_sel.select("term", "term_cleaned", "emp_length", "emplen_cleaned").show(15)

+----------+------------+----------+--------------+
|      term|term_cleaned|emp_length|emplen_cleaned|
+----------+------------+----------+--------------+
| 36 months|         36 |  < 1 year|             1|
| 36 months|         36 | 10+ years|            10|
| 60 months|         60 |  < 1 year|             1|
| 60 months|         60 |       n/a|              |
| 60 months|         60 |   5 years|             5|
| 36 months|         36 |   9 years|             9|
| 36 months|         36 |   3 years|             3|
| 36 months|         36 | 10+ years|            10|
| 36 months|         36 |       n/a|              |
| 36 months|         36 | 10+ years|            10|
| 60 months|         60 |  < 1 year|             1|
| 60 months|         60 | 10+ years|            10|
| 60 months|         60 | 10+ years|            10|
| 36 months|         36 |   6 years|             6|
| 60 months|         60 |   5 years|             5|
+----------+------------+----------+--------------+
only showing top 15 rows

In [70]:
df_sel.printSchema()

root
 |-- loan_amnt: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_acc: string (nullable = true)
 |-- term: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc: string (nullable = true)
 |-- num_tl_90g_dpd_24m: string (nullable = true)
 |-- dti_joint: string (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)

## Temporary table for storage

In [71]:
table_name = "loanstatus_sel"
df_sel.createOrReplaceTempView(table_name)

In [72]:
# %sql
# select * from loanstatus_sel

In [73]:
df_sel.show(5)

+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
|loan_amnt|emp_length|  dti|delinq_2yrs|revol_util|total_acc|      term|home_ownership|grade|           purpose|int_rate|addr_state|loan_status|application_type|annual_inc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
|    10000|  < 1 year| 6.15|          2|       38%|       23| 36 months|      MORTGAGE|    B|debt_consolidation|  10.33%|        OR|    Current|      Individual|    280000|                 0|     null|         36 |             1|
|     2500| 10+ years|18.24|          0|    10.30%|       34| 36 months|          RENT|    C|debt_consolidation|  13.56%|        NY|    Current|      Individual|     55000|                 0|     null|         36 |            10|
|    12000|  < 1 year|19.23|          0|    55.50%|        9| 60 months|      MORTGAGE|    C|debt_consolidation|  13.56%|        PA|    Current|      Individual|     40000|                 0|     null|         60 |             1|
|    15000|       n/a| 41.6|          0|    37.20%|       30| 60 months|      MORTGAGE|    C|debt_consolidation|  14.47%|        TX|    Current|       Joint App|     30000|                 0|    34.95|         60 |              |
|    16000|   5 years|21.91|          0|    24.80%|       27| 60 months|      MORTGAGE|    D|debt_consolidation|  17.97%|        NC|    Current|      Individual|     51000|                 0|     null|         60 |             5|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
only showing top 5 rows

In [74]:
from pyspark.sql.types import DoubleType

df_sel = df_sel.withColumn("annual_inc", df_sel["annual_inc"].cast(DoubleType()))
df_sel = df_sel.withColumn("loan_amnt", df_sel["loan_amnt"].cast(DoubleType()))

In [75]:
df_sel.printSchema()

root
 |-- loan_amnt: double (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_acc: string (nullable = true)
 |-- term: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- num_tl_90g_dpd_24m: string (nullable = true)
 |-- dti_joint: string (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)

In [76]:
df_sel.stat.cov("annual_inc", "loan_amnt")

221023240.20671284

In [77]:
df_sel.stat.corr("annual_inc", "loan_amnt")

0.20106014148486612

In [78]:
df_sel.crosstab('loan_status', "grade").show()

+------------------+-----+-----+-----+-----+----+---+---+----+
| loan_status_grade|    A|    B|    C|    D|   E|  F|  G|null|
+------------------+-----+-----+-----+-----+----+---+---+----+
|   In Grace Period|   74|  112|  146|  122|  54|  4|  1|   0|
|        Fully Paid| 1188| 1333| 1175|  807| 360| 36|  9|   0|
|              null|    0|    0|    0|    0|   0|  0|  0|   4|
|Late (31-120 days)|   68|  164|  234|  220| 142| 14|  7|   0|
| Late (16-30 days)|   26|   78|  102|   81|  46|  9|  2|   0|
|           Current|36639|34139|29323|15823|5352|321| 79|   0|
|       Charged Off|   16|   35|   38|   19|   8|  3|  3|   0|
+------------------+-----+-----+-----+-----+----+---+---+----+

In [79]:
freq = df_sel.stat.freqItems(["purpose", "grade"], 0.3)

In [80]:
freq.collect()

[Row(purpose_freqItems=['debt_consolidation', 'credit_card', None], grade_freqItems=['A', 'C', 'B'])]

In [81]:
df_sel.groupby("purpose").count().show()

+------------------+-----+
|           purpose|count|
+------------------+-----+
|              null|    4|
|             other| 7094|
|    small_business| 1051|
|debt_consolidation|70603|
|       credit_card|34961|
|            moving|  656|
|          vacation|  802|
|  renewable_energy|   71|
|             house|  823|
|               car| 1037|
|    major_purchase| 2303|
|           medical| 1499|
|  home_improvement| 7512|
+------------------+-----+

In [82]:
df_sel.groupby("purpose").count().orderBy(col("count").desc()).show()

+------------------+-----+
|           purpose|count|
+------------------+-----+
|debt_consolidation|70603|
|       credit_card|34961|
|  home_improvement| 7512|
|             other| 7094|
|    major_purchase| 2303|
|           medical| 1499|
|    small_business| 1051|
|               car| 1037|
|             house|  823|
|          vacation|  802|
|            moving|  656|
|  renewable_energy|   71|
|              null|    4|
+------------------+-----+

In [83]:
from pyspark.sql.functions import count, mean, stddev_pop, min, max, avg

In [84]:
quantile_probs = [0.25, 0.5, 0.75, 0.9]
rel_error = 0.05
df_sel.stat.approxQuantile("loan_amnt", quantile_probs, rel_error)

[8400.0, 12750.0, 20000.0, 30000.0]

In [85]:
quantile_probs = [0.25, 0.5, 0.75, 0.9]
rel_error = 0.0
df_sel.stat.approxQuantile("loan_amnt", quantile_probs, rel_error)

[8000.0, 14000.0, 21600.0, 32000.0]

In [86]:
from pyspark.sql.functions import isnan, when, count, col
df_sel.select([count(when(isnan(c)|col(c).isNull(), c )).alias(c) for c in df_sel.columns]).show()

+---------+----------+---+-----------+----------+---------+----+--------------+-----+-------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
|loan_amnt|emp_length|dti|delinq_2yrs|revol_util|total_acc|term|home_ownership|grade|purpose|int_rate|addr_state|loan_status|application_type|annual_inc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+---------+----------+---+-----------+----------+---------+----+--------------+-----+-------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
|        4|         4|241|          4|       160|        4|   4|             4|    4|      4|       4|         4|          4|               4|         4|                 4|   111634|           4|             4|
+---------+----------+---+-----------+----------+---------+----+--------------+-----+-------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+

In [87]:
df_sel = df_sel.na.drop("all", subset=["loan_status"])

In [88]:
df_sel.select([count(when(isnan(c)|col(c).isNull(), c )).alias(c) for c in df_sel.columns]).show()

+---------+----------+---+-----------+----------+---------+----+--------------+-----+-------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
|loan_amnt|emp_length|dti|delinq_2yrs|revol_util|total_acc|term|home_ownership|grade|purpose|int_rate|addr_state|loan_status|application_type|annual_inc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|
+---------+----------+---+-----------+----------+---------+----+--------------+-----+-------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+
|        0|         0|237|          0|       156|        0|   0|             0|    0|      0|       0|         0|          0|               0|         0|                 0|   111630|           0|             0|
+---------+----------+---+-----------+----------+---------+----+--------------+-----+-------+--------+----------+-----------+----------------+----------+------------------+---------+------------+--------------+

In [89]:
df_sel.count()

128412

In [90]:
df_sel.describe("dti", "revol_util").show()

+-------+------------------+----------+
|summary|               dti|revol_util|
+-------+------------------+----------+
|  count|            128175|    128256|
|   mean|19.933177530719732|      null|
| stddev|20.143542243475498|      null|
|    min|                 0|        0%|
|    max|               999|    99.90%|
+-------+------------------+----------+

In [91]:
df_sel = df_sel.withColumn("revolutil_cleaned", regexp_extract(col("revol_util"), "\\d+", 0))

In [92]:
df_sel.describe("revol_util", "revolutil_cleaned").show()

+-------+----------+-----------------+
|summary|revol_util|revolutil_cleaned|
+-------+----------+-----------------+
|  count|    128256|           128256|
|   mean|      null|43.76206961077844|
| stddev|      null|24.80184952820706|
|    min|        0%|                0|
|    max|    99.90%|               99|
+-------+----------+-----------------+

In [93]:
def fill_avg(df, col_name):
    return df.select(col_name).agg(avg(col_name))

In [94]:
rev_avg = fill_avg(df_sel, "revolutil_cleaned")

In [95]:
from pyspark.sql.functions import lit

rev_avg = fill_avg(df_sel, "revolutil_cleaned").first()[0]
df_sel = df_sel.withColumn("rev_avg", lit(rev_avg))

In [96]:
from pyspark.sql.functions import coalesce
df_sel = df_sel.withColumn("revolutil_cleaned", coalesce(col("revolutil_cleaned"), col("rev_avg")))

In [97]:
df_sel.describe("revol_util", "revolutil_cleaned").show()

+-------+----------+-----------------+
|summary|revol_util|revolutil_cleaned|
+-------+----------+-----------------+
|  count|    128256|           128412|
|   mean|      null|43.76206961077843|
| stddev|      null|24.78677969645395|
|    min|        0%|                0|
|    max|    99.90%|               99|
+-------+----------+-----------------+

In [98]:
df_sel = df_sel.withColumn("revolutil_cleaned", df_sel["revolutil_cleaned"].cast("double"))

In [99]:
df_sel.describe("revol_util", "revolutil_cleaned").show()

+-------+----------+-----------------+
|summary|revol_util|revolutil_cleaned|
+-------+----------+-----------------+
|  count|    128256|           128412|
|   mean|      null|43.76206961077843|
| stddev|      null|24.78677969645395|
|    min|        0%|              0.0|
|    max|    99.90%|            183.0|
+-------+----------+-----------------+

In [100]:
df_sel = df_sel.withColumn("dti_cleaned", coalesce(col("dti"), col("dti_joint")))

In [101]:
df_sel.groupby("loan_status").count().show()

+------------------+------+
|       loan_status| count|
+------------------+------+
|        Fully Paid|  4908|
|   In Grace Period|   513|
|       Charged Off|   122|
|Late (31-120 days)|   849|
|           Current|121676|
| Late (16-30 days)|   344|
+------------------+------+

In [102]:
df_sel.where(df_sel.loan_status.isin(["In Grace Period", "Charged Off", 
                                      "Late (31-120 days)","Late (16-30 days)"])).show()

+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+------------------+----------------+----------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+
|loan_amnt|emp_length|  dti|delinq_2yrs|revol_util|total_acc|      term|home_ownership|grade|           purpose|int_rate|addr_state|       loan_status|application_type|annual_inc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+------------------+----------------+----------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+
|  16000.0|   3 years|16.58|          0|    11.80%|       28| 36 months|          RENT|    B|debt_consolidation|  10.33%|        PA|Late (31-120 days)|      Individual|   71000.0|                 0|     null|         36 |             3|             11.0|43.76206961077844|      16.58|
|  17500.0|   9 years|36.92|          0|    35.40%|       37| 60 months|      MORTGAGE|    D|debt_consolidation|  22.35%|        OH|Late (31-120 days)|       Joint App|   50000.0|                 0|    36.79|         60 |             9|             35.0|43.76206961077844|      36.92|
|  30000.0|   2 years|14.28|          0|    14.90%|       10| 60 months|          RENT|    C|debt_consolidation|  15.02%|        NY|Late (31-120 days)|      Individual|   90000.0|                 0|     null|         60 |             2|             14.0|43.76206961077844|      14.28|
|  20975.0|   2 years|24.27|          0|    16.60%|       21| 36 months|      MORTGAGE|    A|debt_consolidation|   8.19%|        PA|Late (31-120 days)|      Individual|  165000.0|                 0|     null|         36 |             2|             16.0|43.76206961077844|      24.27|
|  14000.0|  < 1 year|13.48|          0|    39.10%|       18| 60 months|          RENT|    A|debt_consolidation|   8.19%|        CA|Late (31-120 days)|      Individual|   65000.0|                 0|     null|         60 |             1|             39.0|43.76206961077844|      13.48|
|  14000.0|    1 year|25.83|          0|    73.60%|       11| 36 months|          RENT|    A|debt_consolidation|   8.19%|        WA|Late (31-120 days)|      Individual|   36000.0|                 0|     null|         36 |             1|             73.0|43.76206961077844|      25.83|
|  20000.0|   3 years| 9.18|          0|    13.90%|       26| 36 months|          RENT|    B|          vacation|  11.80%|        NC|Late (31-120 days)|      Individual|   50000.0|                 0|     null|         36 |             3|             13.0|43.76206961077844|       9.18|
|  32000.0|  < 1 year|  6.1|          0|    50.30%|       28| 36 months|          RENT|    B|debt_consolidation|  11.80%|        NJ|Late (31-120 days)|      Individual|   50000.0|                 0|     null|         36 |             1|             50.0|43.76206961077844|        6.1|
|   9100.0|   3 years|13.38|          0|    12.10%|       23| 36 months|           OWN|    E|             other|  26.31%|        IN|Late (31-120 days)|      Individual|   62000.0|                 0|     null|         36 |             3|             12.0|43.76206961077844|      13.38|
|   5000.0|    1 year|16.77|          0|    30.50%|        9| 36 months|          RENT|    C|       credit_card|  13.56%|        OR|Late (31-120 days)|      Individual|   50000.0|                 0|     null|         36 |             1|             30.0|43.76206961077844|      16.77|
|  36000.0|   9 years| 4.14|          0|     0.30%|       29| 60 months|          RENT|    C|    major_purchase|  14.47%|        CA|Late (31-120 days)|      Individual|   93600.0|                 0|     null|         60 |             9|              0.0|43.76206961077844|       4.14|
|  19500.0| 10+ years|29.83|          0|       66%|       33| 36 months|          RENT|    E|       credit_card|  24.37%|        NY|Late (31-120 days)|      Individual|   56000.0|                 0|     null|         36 |            10|             66.0|43.76206961077844|      29.83|
|   1500.0|  < 1 year| 9.24|          0|    83.20%|        3| 36 months|          RENT|    E|          vacation|  25.34%|        NY|Late (31-120 days)|      Individual|   20000.0|                 0|     null|         36 |             1|             83.0|43.76206961077844|       9.24|
|   3525.0| 10+ years|14.25|          0|    31.10%|       15| 36 months|      MORTGAGE|    E|debt_consolidation|  25.34%|        GA|Late (31-120 days)|      Individual|  150000.0|                 0|     null|         36 |            10|             31.0|43.76206961077844|      14.25|
|  11000.0| 10+ years|28.79|          0|    31.70%|       32| 60 months|      MORTGAGE|    C|debt_consolidation|  16.91%|        CA|Late (31-120 days)|      Individual|   97000.0|                 0|     null|         60 |            10|             31.0|43.76206961077844|      28.79|
|  11500.0|   8 years| 2.55|          0|       20%|       12| 36 months|          RENT|    C|debt_consolidation|  13.56%|        MT|Late (31-120 days)|      Individual|   33000.0|                 0|     null|         36 |             8|             20.0|43.76206961077844|       2.55|
|  22000.0|   5 years|15.59|          0|    46.40%|       46| 36 months|      MORTGAGE|    A|debt_consolidation|   8.81%|        CA|Late (31-120 days)|      Individual|  165000.0|                 0|     null|         36 |             5|             46.0|43.76206961077844|      15.59|
|  19200.0|   9 years|39.11|          4|    28.30%|       53| 60 months|           OWN|    D|debt_consolidation|  17.97%|        NV|Late (31-120 days)|      Individual|   85000.0|                 2|     null|         60 |             9|             28.0|43.76206961077844|      39.11|
|  40000.0|   5 years|17.88|          0|    78.30%|       16| 60 months|          RENT|    B|debt_consolidation|  11.80%|        IN|Late (31-120 days)|      Individual|  130000.0|                 0|     null|         60 |             5|             78.0|43.76206961077844|      17.88|
|   8000.0| 10+ years|17.83|          0|    29.10%|       49| 36 months|      MORTGAGE|    A|       credit_card|   6.46%|        WA|       Charged Off|      Individual|   55000.0|                 0|     null|         36 |            10|             29.0|43.76206961077844|      17.83|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+------------------+----------------+----------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+
only showing top 20 rows

In [105]:
df_sel = df_sel.withColumn("bad_loan", when(df_sel.loan_status.isin([ "In Grace Period", "Charged Off", 
                                      "Late (31-120 days)", "Late (16-30 days)"]), "Yes").otherwise("No"))

In [106]:
df_sel.groupby("bad_loan").count().show()

+--------+------+
|bad_loan| count|
+--------+------+
|      No|126584|
|     Yes|  1828|
+--------+------+

In [107]:
df_sel.filter(df_sel.bad_loan == "Yes").show()

+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+------------------+----------------+----------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|loan_amnt|emp_length|  dti|delinq_2yrs|revol_util|total_acc|      term|home_ownership|grade|           purpose|int_rate|addr_state|       loan_status|application_type|annual_inc|num_tl_90g_dpd_24m|dti_joint|term_cleaned|emplen_cleaned|revolutil_cleaned|          rev_avg|dti_cleaned|bad_loan|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+------------------+----------------+----------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
|  16000.0|   3 years|16.58|          0|    11.80%|       28| 36 months|          RENT|    B|debt_consolidation|  10.33%|        PA|Late (31-120 days)|      Individual|   71000.0|                 0|     null|         36 |             3|             11.0|43.76206961077844|      16.58|     Yes|
|  17500.0|   9 years|36.92|          0|    35.40%|       37| 60 months|      MORTGAGE|    D|debt_consolidation|  22.35%|        OH|Late (31-120 days)|       Joint App|   50000.0|                 0|    36.79|         60 |             9|             35.0|43.76206961077844|      36.92|     Yes|
|  30000.0|   2 years|14.28|          0|    14.90%|       10| 60 months|          RENT|    C|debt_consolidation|  15.02%|        NY|Late (31-120 days)|      Individual|   90000.0|                 0|     null|         60 |             2|             14.0|43.76206961077844|      14.28|     Yes|
|  20975.0|   2 years|24.27|          0|    16.60%|       21| 36 months|      MORTGAGE|    A|debt_consolidation|   8.19%|        PA|Late (31-120 days)|      Individual|  165000.0|                 0|     null|         36 |             2|             16.0|43.76206961077844|      24.27|     Yes|
|  14000.0|  < 1 year|13.48|          0|    39.10%|       18| 60 months|          RENT|    A|debt_consolidation|   8.19%|        CA|Late (31-120 days)|      Individual|   65000.0|                 0|     null|         60 |             1|             39.0|43.76206961077844|      13.48|     Yes|
|  14000.0|    1 year|25.83|          0|    73.60%|       11| 36 months|          RENT|    A|debt_consolidation|   8.19%|        WA|Late (31-120 days)|      Individual|   36000.0|                 0|     null|         36 |             1|             73.0|43.76206961077844|      25.83|     Yes|
|  20000.0|   3 years| 9.18|          0|    13.90%|       26| 36 months|          RENT|    B|          vacation|  11.80%|        NC|Late (31-120 days)|      Individual|   50000.0|                 0|     null|         36 |             3|             13.0|43.76206961077844|       9.18|     Yes|
|  32000.0|  < 1 year|  6.1|          0|    50.30%|       28| 36 months|          RENT|    B|debt_consolidation|  11.80%|        NJ|Late (31-120 days)|      Individual|   50000.0|                 0|     null|         36 |             1|             50.0|43.76206961077844|        6.1|     Yes|
|   9100.0|   3 years|13.38|          0|    12.10%|       23| 36 months|           OWN|    E|             other|  26.31%|        IN|Late (31-120 days)|      Individual|   62000.0|                 0|     null|         36 |             3|             12.0|43.76206961077844|      13.38|     Yes|
|   5000.0|    1 year|16.77|          0|    30.50%|        9| 36 months|          RENT|    C|       credit_card|  13.56%|        OR|Late (31-120 days)|      Individual|   50000.0|                 0|     null|         36 |             1|             30.0|43.76206961077844|      16.77|     Yes|
|  36000.0|   9 years| 4.14|          0|     0.30%|       29| 60 months|          RENT|    C|    major_purchase|  14.47%|        CA|Late (31-120 days)|      Individual|   93600.0|                 0|     null|         60 |             9|              0.0|43.76206961077844|       4.14|     Yes|
|  19500.0| 10+ years|29.83|          0|       66%|       33| 36 months|          RENT|    E|       credit_card|  24.37%|        NY|Late (31-120 days)|      Individual|   56000.0|                 0|     null|         36 |            10|             66.0|43.76206961077844|      29.83|     Yes|
|   1500.0|  < 1 year| 9.24|          0|    83.20%|        3| 36 months|          RENT|    E|          vacation|  25.34%|        NY|Late (31-120 days)|      Individual|   20000.0|                 0|     null|         36 |             1|             83.0|43.76206961077844|       9.24|     Yes|
|   3525.0| 10+ years|14.25|          0|    31.10%|       15| 36 months|      MORTGAGE|    E|debt_consolidation|  25.34%|        GA|Late (31-120 days)|      Individual|  150000.0|                 0|     null|         36 |            10|             31.0|43.76206961077844|      14.25|     Yes|
|  11000.0| 10+ years|28.79|          0|    31.70%|       32| 60 months|      MORTGAGE|    C|debt_consolidation|  16.91%|        CA|Late (31-120 days)|      Individual|   97000.0|                 0|     null|         60 |            10|             31.0|43.76206961077844|      28.79|     Yes|
|  11500.0|   8 years| 2.55|          0|       20%|       12| 36 months|          RENT|    C|debt_consolidation|  13.56%|        MT|Late (31-120 days)|      Individual|   33000.0|                 0|     null|         36 |             8|             20.0|43.76206961077844|       2.55|     Yes|
|  22000.0|   5 years|15.59|          0|    46.40%|       46| 36 months|      MORTGAGE|    A|debt_consolidation|   8.81%|        CA|Late (31-120 days)|      Individual|  165000.0|                 0|     null|         36 |             5|             46.0|43.76206961077844|      15.59|     Yes|
|  19200.0|   9 years|39.11|          4|    28.30%|       53| 60 months|           OWN|    D|debt_consolidation|  17.97%|        NV|Late (31-120 days)|      Individual|   85000.0|                 2|     null|         60 |             9|             28.0|43.76206961077844|      39.11|     Yes|
|  40000.0|   5 years|17.88|          0|    78.30%|       16| 60 months|          RENT|    B|debt_consolidation|  11.80%|        IN|Late (31-120 days)|      Individual|  130000.0|                 0|     null|         60 |             5|             78.0|43.76206961077844|      17.88|     Yes|
|   8000.0| 10+ years|17.83|          0|    29.10%|       49| 36 months|      MORTGAGE|    A|       credit_card|   6.46%|        WA|       Charged Off|      Individual|   55000.0|                 0|     null|         36 |            10|             29.0|43.76206961077844|      17.83|     Yes|
+---------+----------+-----+-----------+----------+---------+----------+--------------+-----+------------------+--------+----------+------------------+----------------+----------+------------------+---------+------------+--------------+-----------------+-----------------+-----------+--------+
only showing top 20 rows

In [108]:
df_sel.printSchema()

root
 |-- loan_amnt: double (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- dti: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- revol_util: string (nullable = true)
 |-- total_acc: string (nullable = true)
 |-- term: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- int_rate: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc: double (nullable = true)
 |-- num_tl_90g_dpd_24m: string (nullable = true)
 |-- dti_joint: string (nullable = true)
 |-- term_cleaned: string (nullable = true)
 |-- emplen_cleaned: string (nullable = true)
 |-- revolutil_cleaned: double (nullable = true)
 |-- rev_avg: double (nullable = false)
 |-- dti_cleaned: string (nullable = true)
 |-- bad_loan: string (nullable = false)

In [109]:
df_sel_final = df_sel.drop("revol_util", "dti", "dti_joint")

In [110]:
df_sel.crosstab("bad_loan", "grade").show()

+--------------+-----+-----+-----+-----+----+---+---+
|bad_loan_grade|    A|    B|    C|    D|   E|  F|  G|
+--------------+-----+-----+-----+-----+----+---+---+
|            No|37827|35472|30498|16630|5712|357| 88|
|           Yes|  184|  389|  520|  442| 250| 30| 13|
+--------------+-----+-----+-----+-----+----+---+---+

In [ ]:
# permanent_table_name = "loan_data_cleaned"
# df_sel_final.write.format("parquet").saveAsTable(permanent_table_name)

In [113]:
df_sel.write.csv('loan_data_cleaned.csv')